.App {
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.cont{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
  max-width: 1200px;
  padding: 1rem;
  height: 90vh;
  width: 90vw;
  color: #FFF;
  background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.3)), url("./weather-backgrounds/clear-day.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.curr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card{
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 1rem;
  max-width: 250px;
}
.hourly-cont{
  padding: .5rem;
  justify-content: center;
}
.cond{
  padding: .3rem;
  margin: 3rem 5rem 0 0;
}
.cond svg{
  width: 3rem;
  height: 3rem;
}
.sec{
  font-size: 1.2rem;
}
.temp-cont{
  align-items: center;
  justify-content: center;
  font-size: 45px;
  display: flex;
  flex-direction: row;
  margin-top: .5rem;
}
sup{
  font-weight: 200;
  transform: scale(.8);
}
.temperature-big{
  font-weight: 700;
  font-size: 55px;
}
.temperature-sml{
  font-weight: 700;
  font-size: 15px;
}
.city{
  font-size: 1.6rem;
}
.time{
  font-size: 1.2rem;
}
.title{
  font-size: 2rem;
  font-weight: 700;
}
.b-icon{
  font-size: 8rem;
  color: yellow;
}
.s-icon{
  font-size: 3rem;
  color: yellow;
}
.extra-cond{
  display: flex;
  justify-content: center;
}
.location-cont{
  background-color: rgba(100,100,100,0.5)
}
@media(max-width: 767px){
  .cont{
    height: auto;
    width: auto;
  }
  .curr{
    margin-top: 93rem;
    flex-direction: column;
  }
  .card{
    margin: 1rem;
  }
}