.App {
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.cont{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
  max-width: 1000px;
  padding: 1rem;
  height: 70vh;
  width: 70vw;
  color: #FFF;
  background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.3)), url("./weather-backgrounds/clear-day.jpg");
  background-size: cover;
}
.curr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cond{
  padding: .3rem;
  margin-right: 1rem;
}
.cond svg{
  width: 3rem;
  height: 3rem;
}
.sec{
  font-size: 1.2rem;
}
.temp-cont{
  align-items: center;
  justify-content: center;
  font-size: 45px;
  display: flex;
  flex-direction: row;
  margin-top: .5rem;
}
sup{
  font-weight: 200;
  transform: scale(.8);
}
.temperature-big{
  font-weight: 700;
  font-size: 55px;
}
.city{
  font-size: 1.6rem;
}
.time{
  font-size: 1.2rem;
}